<div class="nav-container">
  <img src="./img/sun.png" alt="sun_icon" class="icon" />
  <div class="links-container">
    <a href="/" class="nav-link">Weather</a>
    <a href="/about" class="nav-link">About</a>
    <a href="help" class="nav-link">Help</a>
  </div>
</div>